/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 20px;
}

.title {
  font-family: powerlift, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 67.5px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  z-index: 10;
  transition: text-shadow 500ms ease;
  margin-bottom: 20px;
}

.title:hover {
  text-shadow: 5px 5px 0px var(--orange);
}

.img {
  margin-top: -30px;
  margin-bottom: 10px;
  align-self: center;
  border-radius: 5px;
  width: 100%;
}

.text {
  margin: 20px 0 10px 0;
  font-size: var(--body-font-size);
  word-break: break-word;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.button {
  margin: 10px 0;
}

/* Small Tablet Styles */
@media (min-width: 620px) {
  /* .container {
    border: 5px solid red;
  } */
}

/* Large Tablets & Laptop Styles */
@media (min-width: 960px) {
  /* .container {
    border: 5px solid green;
  } */
}

/* Desktop Styles */
@media (min-width: 1200px) {
  /* .container {
    border: 5px solid blue;
  } */
}
