/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 20px;
}

.title {
  font-size: 67.5px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  z-index: 10;
  transition: text-shadow 500ms ease;
  margin-bottom: 20px;
}

.title:hover {
  text-shadow: 5px 5px 0px var(--orange);
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  clip-path: inset(0% 0% 0% 0% round 5%);
}

.text {
  margin: 20px 0 10px 0;
  font-size: var(--body-font-size);
  word-break: break-word;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.button {
  margin: 10px 0;
}

/* Small Tablet Styles */
@media (min-width: 620px) {
  .container {
    border: 5px solid red;
    padding: 0 65px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .title {
    grid-area: 2 / 1 / 3 / 8;
    align-self: center;
    justify-self: start;
    font-size: 3vw;
  }

  .text {
    grid-area: 3 / 1 / 8 / 6;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }

  .img {
    grid-area: 3 / 7 / 8 / 11;
    /* display: grid; */
  }

  .button {
    grid-area: 8 / 1 / 9 / 6;
    z-index: 100;
    /* margin-top: 20px; */
  }
}

/* Large Tablets & Laptop Styles */
@media (min-width: 960px) {
  .container {
    border: 5px solid green;
  }

  .text {
    font-size: var(--body-font-size);
  }
}

/* Desktop Styles */
@media (min-width: 1200px) {
  .container {
    border: 5px solid blue;
  }
}
