/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 30px 0 30px;
}

.title {
  font-family: PowerLift;
  font-size: 67.5px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  z-index: 10;
  text-shadow: 5px 5px 0px var(--orange);
  transition: 500ms ease;
  margin-bottom: 20px;
}

.title:hover {
  text-shadow: 8px 8px 0px var(--orange);
}

.img {
  margin-top: -30px;
  margin-bottom: 10px;
  align-self: center;
  border-radius: 5px;
  width: 100%;
}

.text {
  margin: 20px 0 10px 0;
  font-size: 1em;
  font-family: Hatch;
  line-height: 1.3em;
  /* padding: 0 20px; */
}

.button {
  margin: 10px 0;
}

/* Small Tablet Styles */
@media screen and(min-width: 620px) {
  .container {
    border: 1px solid red;
  }
}

/* Large Tablets & Laptop Styles */
@media screen and(min-width: 960px) {
  .container {
    border: 1px solid blue;
  }
}

/* Desktop Styles */
@media screen and(min-width: 1200px) {
  .container {
    border: 1px solid orange;
  }
}
