.footer {
  color: var(--white);
  opacity: 0.5;
  font-size: 16px;
  font-weight: lighter;
}

.footer__itemContainer {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.footer__itemContainer__singleItem {
  text-align: center;
  list-style-type: none;
}

.footer__itemContainer__singleItem:hover {
  cursor: pointer;
  color: var(--orange);
}

.footer__itemContainer__singleItem__icon {
  width: 1.5rem;
}

/* Small Tablet Styles */
@media (min-width: 620px) {
  /* .container {
    border: 5px solid red;
  } */
}

/* Large Tablets & Laptop Styles */
@media (min-width: 960px) {
  /* .container {
    border: 5px solid green;
  } */
}

/* Desktop Styles */
@media (min-width: 1200px) {
  /* .container {
    border: 5px solid blue;
  } */
}
