@import url("https://use.typekit.net/hdq5sdv.css");

:root {
  /* Colors */
  --darkest-purple: #252430;
  --dark-purple: #393854;
  --orange: #db5817;
  --dark-orange: rgba(219, 88, 23, 0.75);
  --white: #faf9fa;
  --dark-grey: #707070;
  --grey: #9ba8b4;
  --black: #1f1f1f;

  /* Fonts */
  --body-font-size: 18px;
  --button-font-size: 16px;

  --body-font-line-height: 24px;
}

.orange {
  color: var(--orange);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: adelle-sans, sans-serif;
  overflow-x: hidden;
  background-color: var(--darkest-purple);
  color: var(--white);
  background-image: url("/texture.png");
  background-size: cover;
  letter-spacing: 0.2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: var(--button-font-size);
  font-weight: 700;
  color: var(--white);
  border-radius: 8px;
  font-family: adelle-sans, sans-serif;
  background-color: var(--orange);
  background-image: url("/texture.png");
  background-size: auto;
  padding: 14px 24px;
  align-self: flex-end;
  margin: 10px 0;
  border: none;
  transition: transform 500ms ease, box-shadow 500ms ease;
}

button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px var(--black);
  transform: scale(1.01);
}

.img {
  margin-top: -30px;
  margin-bottom: 10px;
  align-self: center;
  border-radius: 5px;
  width: 100%;
  border: 1px solid red;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 30px 0 30px;
}

/* Small Tablet Styles */
@media (min-width: 620px) {
  /* .container {
    border: 5px solid red;
  } */
}

/* Large Tablets & Laptop Styles */
@media (min-width: 960px) {
  /* .container {
    border: 5px solid green;
  } */
}

/* Desktop Styles */
@media (min-width: 1200px) {
  /* .container {
    border: 5px solid blue;
  } */
}
