/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 30px 0 30px;
}

.title {
  font-family: PowerLift;
  font-size: 67.5px;
  line-height: 60px;
  text-align: right;
  text-transform: uppercase;
  z-index: 10;
}

.img {
  margin-top: -60px;
  align-self: center;
  border-radius: 3px;
  width: 100%;
  padding: 20px 20px 18px 20px;
}

.ul {
  margin: 18px 0;
  padding: 0 20px;
  align-self: flex-end;
}

.li {
  list-style: none;
  text-align: right;
  font-family: Hatch;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
}

.button {
  margin: 18px 0;
}

/* Small Tablet Styles */
@media screen and(min-width: 620px) {
  .container {
    border: 1px solid red;
  }
}

/* Large Tablets & Laptop Styles */
@media screen and(min-width: 960px) {
  .container {
    border: 1px solid blue;
  }
}

/* Desktop Styles */
@media screen and(min-width: 1200px) {
  .container {
    border: 1px solid orange;
  }
}
