.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: transparent;
  padding: 20px 30px;
}

.nav__memoji {
  cursor: pointer;
  width: 70px;
  background-color: var(--black);
  border-radius: 50%;
  transition: background-color 500ms ease;
}

.nav__memoji:hover {
  background-color: var(--white);
}

.nav__hamburger {
  height: 30px;
  width: 30px;
  color: var(--white);
  z-index: 10;
}

.nav__hamburger:hover {
  cursor: pointer;
  color: var(--orange);
}

.nav__desktopLinkContainer {
  display: none;
  z-index: 10;
}

/* Small Tablet Styles */
@media (min-width: 620px) {
  /* .nav {
    border: 5px solid red;
  } */

  .active {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--orange);
  }

  .nav__hamburger {
    display: none;
  }

  .nav__desktopLinkContainer {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
  }

  .nav__desktopLinkContainer__item {
    margin: 0 10px;
    text-transform: capitalize;
    transition: color 250ms ease;
  }

  .nav__desktopLinkContainer__item:hover {
    color: var(--orange);
  }
}

/* Large Tablets & Laptop Styles */
@media (min-width: 960px) {
  /* .nav {
    border: 5px solid green;
  } */

  .nav__desktopLinkContainer__item {
    margin: 0 15px;
  }
}

/* Desktop Styles */
@media (min-width: 1200px) {
  /* .nav {
    border: 5px solid blue;
  } */

  .nav__desktopLinkContainer__item {
    margin: 0 20px;
  }
}
