.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: transparent;
  padding: 20px 30px;
}

.nav__memoji {
  cursor: pointer;
  width: 70px;
  background-color: var(--black);
  border-radius: 50%;
}

.nav__memoji:hover {
  background-color: var(--white);
}

.nav__hamburger {
  width: 30px;
  color: var(--white);
  opacity: 0.5;
}
