/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 20px;
}

.container__title {
  /* justify-self: flex-start;
  align-self: start; */
}

.container__title:hover {
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--black);
  background-size: cover;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  transition: box-shadow 500ms ease;
  max-width: 800px;
  z-index: 10;
}

.card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.card__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.card__image {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  clip-path: inset(0% 0% 0% 0% round 5px);
}

.card__iconContainer {
  margin-top: 15px;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
}

.card__iconContainer__a {
  letter-spacing: normal !important;
  color: var(--white) !important;
  width: 18px;
  margin-left: 1.25em;
  font-size: 1.25em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
  z-index: 100;
}

.card__iconContainer__a__icon {
}

.card__iconContainer__a__icon:hover {
  color: var(--orange);
}

.card__subTitle {
  font-size: 1em;
  color: var(--grey);
  margin: 15px 0;
}

.card__descriptionContainer {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.card__descriptionContainer__description {
  text-align: left;
  margin: 0 20px;
  font-size: var(--body-font-size);
  word-break: break-word;
  line-height: 1.5;
}

.button {
  margin: 10px 0;
}

/* Small Tablet Styles */
@media (min-width: 620px) {
  .container {
    /* border: 5px solid red; */
  }

  .container__title {
    align-self: center;
  }

  .card__title {
    font-size: 2rem;
    margin: 0 0 20px 0;
    align-self: center;
  }
}

/* Large Tablets & Laptop Styles */
@media (min-width: 960px) {
  .container {
    /* border: 5px solid green; */
  }

  .card__title {
    font-size: 2.5rem;
  }
}

/* Desktop Styles */
@media (min-width: 1200px) {
  .container {
    margin: 0 5vw;
    /* border: 5px solid blue; */
  }

  .card__title {
    font-size: 3rem;
  }
}
