/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 20px;
}

.container__title {
  font-family: PowerLift;
  font-size: 67.5px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  z-index: 10;
  margin-bottom: 10px;
  text-shadow: 5px 5px 0px var(--orange);
  transition: text-shadow 500ms ease;
}

.container__title:hover {
  text-shadow: 8px 8px 0px var(--orange);
}

.card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--black);
  background-image: url("/texture.png");
  background-size: cover;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  transition: box-shadow 500ms ease;
}

.card:hover {
  box-shadow: 0 5px 15px var(--black);
}

.card__title {
  font-size: 1.25em;
  font-weight: bold;
  font-family: Hatch;
  margin: 0 0 10px 0;
}

.card__image {
  align-self: center;
  border-radius: 5px;
  width: 80%;
  margin: 10px;
}

.card__iconContainer {
  margin-top: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.card__iconContainer__icon {
  margin-left: 1.25em;
  font-size: 1.25em;
}

.card__iconContainer__icon:hover {
  color: var(--orange);
}

.card__subTitle {
  font-size: 0.875em;
  font-weight: lighter;
  color: var(--grey);
  margin: 15px 0;
}

.card__descriptionContainer {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.card__descriptionContainer__description {
  text-align: left;
  margin: 0 20px;
  font-family: Hatch;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.25em;
}

.button {
  margin: 10px 0;
}

/* Small Tablet Styles */
@media (min-width: 620px) {
  /* .container {
    border: 5px solid red;
  } */
}

/* Large Tablets & Laptop Styles */
@media (min-width: 960px) {
  /* .container {
    border: 5px solid green;
  } */
}

/* Desktop Styles */
@media (min-width: 1200px) {
  /* .container {
    border: 5px solid blue;
  } */
}
