/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 30px 0 30px;
}

.title {
  font-family: PowerLift;
  font-size: 67.5px;
  line-height: 60px;
  text-align: right;
  text-transform: uppercase;
  z-index: 10;
  text-shadow: 5px 5px 0px var(--orange);
  transition: 500ms ease;
}

.title:hover {
  text-shadow: 8px 8px 0px var(--orange);
}

.img {
  margin-top: -40px;
  margin-bottom: 10px;
  align-self: center;
  border-radius: 5px;
  width: 100%;
}

.section {
  font-size: 1em;
  font-family: Hatch;
  line-height: 1.3em;
  padding: 20px;
  margin: 10px 0;
  background-color: var(--black);
  background-image: url("/texture.png");
  background-size: cover;
  border-radius: 5px;
  transition: 500ms ease;
}

.section:hover {
  box-shadow: 0 5px 15px var(--black);
}

.section .h2 {
  font-family: Hatch;
  font-size: 1em;
  font-weight: bold;
}

.section .date {
  font-size: 1em;
  color: var(--grey);
}

.section .ul {
  font-size: 1em;
  line-height: 1em;
  padding-left: 20px;
  margin-bottom: 0;
}

.section .li {
  margin: 1em 0;
  font-weight: lighter;
  line-height: 1.25em;
}

.section .li:nth-last-child(1) {
  margin-bottom: 0;
}

.button {
  margin: 10px 0;
}

/* Small Tablet Styles */
@media screen and(min-width: 620px) {
  .container {
    border: 1px solid red;
  }
}

/* Large Tablets & Laptop Styles */
@media screen and(min-width: 960px) {
  .container {
    border: 1px solid blue;
  }
}

/* Desktop Styles */
@media screen and(min-width: 1200px) {
  .container {
    border: 1px solid orange;
  }
}
