/* Variables */

/* Base Styles */

/* Fonts */

/* Mobile Styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 20px;
}

.title {
  font-family: PowerLift;
  font-size: 67.5px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  z-index: 10;
  margin-bottom: 10px;
  text-shadow: 5px 5px 0px var(--orange);
  transition: 500ms ease;
}

.title:hover {
  text-shadow: 8px 8px 0px var(--orange);
}

.section {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--black);
  background-image: url("/texture.png");
  background-size: cover;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  transition: 500ms ease;
}

.section:hover {
  box-shadow: 0 5px 15px var(--black);
}

.projectTitle {
  font-size: 1.25em;
  font-weight: bold;
  font-family: Hatch;
  margin: 0 0 10px 0;
}

.img {
  align-self: center;
  border-radius: 5px;
  width: 80%;
  margin: 10px;
}

.p {
  font-size: 0.875em;
  font-weight: lighter;
  color: var(--grey);
  margin: 15px 0;
}

.ul {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.li {
  text-align: left;
  margin: 0 20px;
  font-family: Hatch;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.25em;
}

.button {
  margin: 10px 0;
}

/* Small Tablet Styles */
@media screen and(min-width: 620px) {
  .container {
    border: 1px solid red;
  }
}

/* Large Tablets & Laptop Styles */
@media screen and(min-width: 960px) {
  .container {
    border: 1px solid blue;
  }
}

/* Desktop Styles */
@media screen and(min-width: 1200px) {
  .container {
    border: 1px solid orange;
  }
}
